DEBUG=TRUE
SECRET_KEY="DjangoのAPIキー"
POSTGRES_USER=postgresのenvで設定したUSER
POSTGRES_PASSWORD=postgresのenvで設定したPASSWORD
TRUSTED_ORIGINS="frontのホスト名"
EXPIRED_DAYS=メール認証の有効期限
HOST_NAME="dockerで設定したホスト名"
EMAIL_SENDER="送信用メールアドレス"
EMAIL_HOST="送信用のメールサーバー(SMTP)"
EMAIL_HOST_USER="SMTPのユーザー名"
EMAIL_HOST_PASSWORD='SMTPのパスワード'
EMAIL_PORT="SMTPのポート"
EMAIL_USE_TLS=サーバーの認証方式に合わせる
DEFAULT_FROM_EMAIL="送信元アドレス(基本送信用アドレスと同じ)"